<title>Unity Code - Bilgilendirme</title>
<br><br>
<main>
  <div class="container" style="padding: 1rem;">
    <div class="col-12 col-md-12 d-flex flex-column align-items-center justify-content-center text-center">
      <div>
        <img src="https://api.creavite.co/out/4e5e6ab3-209e-4eb0-ba87-2f7d2780f3c6_standard.gif" style="border-radius: 50%;">
      </div>
      <h1 class="text-light font-weight-light">Unity Code Bilgilendirme</h1>
      <p class="lead"><a href="/davet" target="_blank">Unity Code Discord Sunucusu</a> Kod Paylaşım Sistemine Hoş Geldin!</p>
    </div><br>
    <h3 class="text-light font-weight-light">Unity Code Açıklama</h3>
    <hr>
    <ul>
      <li>
       Sunucumuzdaki Kodların Değerlerine Göre Sıralaması:
        <ul>
          <li>Altyapılar (7 davet)</li>
          <li>Elmas Kodlar (5 davet)</li>
          <li>Altın Kodlar (2 davet)</li>
          <li>HTML (3 davet)</li>
          <li>Normal Kodlar (0 davet)</li>
        </ul>
      </li>
      <li>Kodları Görebilmek İçin, Rollerine Sahip Olmalısınız. Rollere erişebilmek için yanlarında belirtilmiş davet sayısına ulaşmanız gerekiyor. Normal kodlar herkese açıktır, siteden ulaşabilirsiniz.</li>
      <li>Sunucuyu Boostlayanlar Tüm Kodları Görebilmektedirler.</li>
      <li>Davet Bilginizi görmek için <kbd>!invites</kbd> Yazmanız Yeterlidir.</li>
    </ul><br>
    <h3 class="text-light font-weight-light">Bilgilendirme</h3>
    <hr>
  
      <li class="text-light font-weight-light">Kodlarımız artık bu site üzerinden paylaşılmaktadır.</li>
      <li class="text-light font-weight-light">Sitemizde kendi kodlarınızı da paylaşabilirsiniz.</li>
      <li class="text-light font-weight-light">Sitede sağ üst köşede bulunan `Giriş Yap` seçeneğine basıp giriş yapmalısınız.</li>
      <br>
      <li class="text-light font-weight-light">Giriş yaptıktan sonra görme izniniz olan kodları görebileceksiniz.</li>
      <li class="text-light font-weight-light">Normal Kodları ve Topluluk Kodlarını (Sizden Gelenler) herkes görebilir.</li>
      <li class="text-light font-weight-light">Geri kalan kodlara erişebilmek için, sunucuda o kod kategorisinin rolüne sahip olmalısınız.</li>
      <br>
      <li class="text-light font-weight-light">
        Kod rollerine sahip olmak için sunucumuzda belirli davet sayılarına ulaşmanız gerekmektedir.
        <ul>
          <li class="text-light font-weight-light"><b>Normal Kodlar:</b> Herkese açık.</li>
          <li class="text-light font-weight-light"><b>Topluluk Kodları:</b> Herkese açık.</li>
          <li class="text-light font-weight-light"><b>HTML:</b> Sunucuya 3 kişi davet etmelisiniz.</li>
          <li class="text-light font-weight-light"><b>Altın Kodlar:</b> Sunucuya 5 kişi davet etmelisiniz.</li>
          <li class="text-light font-weight-light"><b>Elmas Kodlar:</b> Sunucuya 15 kişi davet etmelisiniz.</li>
          <li class="text-light font-weight-light"><b>Altyapılar:</b> Sunucuya 30 kişi davet etmelisiniz.</li>
        </ul>
      </li>      
    </ul>
    <br>
    <h3 class="text-light font-weight-light">Kodlara Erişebilmek İçin Yapmanız Gerekneler:</h3>
    <hr>
    <ul>
      <li class="text-light font-weight-light"><a href="/davet" target="_blank">Discord Sunucumuza</a> katılmanız gerekmektedir.</li>
      <li class="text-light font-weight-light">Discord hesabınızla <a href="/giris" target="_blank">giriş yapmanız</a> gerekmektedir.</li>
      <li class="text-light font-weight-light">
        Kategorileri görmek için: 
        <ul>
          <li class="text-light font-weight-light"><b>Normal Kodlar:</b> Herkese açık.</li>
          <li class="text-light font-weight-light"><b>Topluluk Kodları:</b> Herkese açık.</li>
          <li class="text-light font-weight-light"><b>HTML:</b> Sunucuya 3 kişi davet etmelisiniz.</li>
          <li class="text-light font-weight-light"><b>Altın Kodlar:</b> Sunucuya 5 kişi davet etmelisiniz.</li>
          <li class="text-light font-weight-light"><b>Elmas Kodlar:</b> Sunucuya 15 kişi davet etmelisiniz.</li>
          <li class="text-light font-weight-light"><b>Altyapılar:</b> Sunucuya 30 kişi davet etmelisiniz.</li>
        </ul>
      </li>
    </ul>
    <h3 class="text-danger">Önemli Not:</h3>
    <hr>
    <p class="text-light font-weight-light">
     Lütfen bir hata aldığınızda hata mesajını okuyun! Hata mesajını okumadan saçma sapan sorular sormayın! 
    </p>
  </div>
</main>




