


<style>
  .sunucusresmi {
    border-radius: 50% !important;
    border: 2px solid white;
    padding: 1px;
}
.avatar {
  border-radius: 50% !important;
  border: 2px solid white;
  padding: 1px;
}
#avatar2 {
    width: 200px;
    height: 200px;
    transition: all .3s ease-in-out;
    cursor: pointer;
    text-align:center;
  margin : 0 auto 0 auto;
}
    #avatar2:hover {
        transform: translate(0px,-20px);
        -webkit-transform: translate(0px,-20px);
	}
  </style>


<title>Unity Code - Ana Sayfa</title>
<br><br>
<title>Background-</title>
	<style>
		body {
			background: url(https://cdn.glitch.com/a6dc97c9-9332-4e14-a1aa-abd16e72cafd%2Fwp2757874.gif?v=1601097937332) no-repeat fixed;
			background-size: 100%;
		}
	</style>

  <section id="intro">
  </section><!-- #intro -->
<main class="container-fluid bg-lightdark" style="padding: 1rem;">
<div class="col-12 col-md-12 d-flex flex-column align-items-center justify-content-center text-center">
  <div id="avatar2">
		<img class="sunucusresmi" height="200" width="200" src="https://api.creavite.co/out/4e5e6ab3-209e-4eb0-ba87-2f7d2780f3c6_standard.gif">
</div><br>
  <div class="testo">
        <h1 class="text-light font-weight-light">Unity Code</h1>
    <h2 class="text-light font-weight-light">
       Topluluk | Bot Yardım | Kod Paylaşım
  </h2>
  <p class="h4 text-light font-weight-light">
    Kodları Görebilmek İçin <a style="text-decoration:none"href="/davet" target="_blank"><font color="gold"</font>Discord Sunucumuza</a><font color="white"</font> Katılmanız Gerekmektedir
  </p>
      
  </div>

  <! <p class="h4 text-light font-weight-light">
     <a href="/bilgilendirme" style="text-decoration:none" target="_blank">Kodlara Bakmadan Önce Kesinlikle Okuyunuz!</a>
  </p> 
<div class="index-box">
<a href="/normal" style="text-decoration:none" class="index-button1"><i class="fas fa-code"></i>   Normal Kodlar</a>
<a href="/altin"  style="text-decoration:none" class="index-button2"><i class="fas fa-code"></i>   Altın Kodlar</a>
<a href="/elmas" style="text-decoration:none" class="index-button3"><i class="fas fa-code"></i>   Elmas Kodlar</a>
<a href="/hazir" style="text-decoration:none" class="index-button4"><i class="fas fa-code"></i>   Altyapılar</a>
<a href="/html" style="text-decoration:none" class="index-button5"><i class="fas fa-code"></i>   HTML</a>

</div>
  
  
  <div class="btn-group mt-4">
    <a href="https://discord.com/oauth2/authorize?client_id=782994076005171210&permissions=8&scope=bot" target="_blank" class="btn btn-outline-warning btn-lg"> <i class="fas fa-robot"></i>   Blody</a>
    <a href="https://discord.com/oauth2/authorize?client_id=782994076005171210&scope=bot&permissions=805314622" target="_blank" class="btn btn-outline-warning btn-lg"> <i class="fas fa-robot"></i>   serius+BOT</a>
    <a href="/davet" target="_blank" class="btn btn-outline-warning btn-lg"> <i class="fab fa-discord"></i>   Discord Sunucumuz</a>
  </div>
  </div><br>
  <div class="container text-center">
<hr color="white">
<font color="white" size="5"><b>SUNUCULARIMIZ VE BOTLARIMIZ</b></font>
<br><br>
<br><br>
<div class="allpanel">
    <div class="panel1">
      <div class="col-md-4">
        
                  <div class="ASD">                                    
                    
                      <img class="card-img-top" style="height: 200px;" src="https://cdn.discordapp.com/attachments/793113952388251677/793436606149165066/unknown.png?v=1601124849396" alt="Banner">                                                  
                      <img class="certificate-role" src="/css/certificate.png" alt="">                    
                    <div class="card-body">
                      <div class="avatarmargin">
                       
                      <img style="width: 80px;" class=" certificate-botimg " src="https://api.creavite.co/out/4e5e6ab3-209e-4eb0-ba87-2f7d2780f3c6_standard.gif" alt="Unity Code"> 
                      </div>
                 
                    Unity Code     
                      
                      <div class="bg-primary px-2 w-auto d-inline-block" style="border-radius: 50px; width: 50px;">
                      <i class="fa fa-angle-up"></i> 70 
                        
                      </div>
                      
                      <p> </p>
                        <p class="card-text">Unity Code Her Gün Adım Adım Büyüyen Güzel Saygılı Bir Topluluk</p>
                      <div class="dropdown-divider" style="border-top:1px solid #ffffff"></div>
                    
                    <br>
                    </div>
                    <div class="card-footer">                    
                       <a class="btn btn-outline-warning nav-link text-uppercase" href="/davet"> <i class="fab fa-discord"></i><b>   Sunucuya Git</b></a>
                    </div>
                  </div>
      </div> 
      
      
  
      <div class="col-md-4">
                  <div class="ASD">                                    
                      <img class="card-img-top" style="height: 200px;" src="https://cdn.discordapp.com/attachments/793113952388251677/793437182919704576/unknown.png" alt="Banner">                                                  
                      <img class="certificate-role" src="/css/certificate.png" alt="">                    
                    <div class="card-body">
                      <div class="avatarmargin">
                      <img style="width: 80px;" class=" certificate-botimg " src="https://cdn.discordapp.com/avatars/804783079993901067/43b002ed5c29afce6b6d7b689dcefb17.webp" alt="Blody">
                      </div>
                      
                  Blody    
                      
                      <div class="bg-primary px-2 w-auto d-inline-block" style="border-radius: 50px; width: 50px;">
                      <i class="fa fa-check"></i> BOT
                      </div>
                      <p> </p>
                        <p class="card-text">Gelişmiş Harika Çeşitli Güvenilir Ve 7/24 Bir Bottur</p>
                      <div class="dropdown-divider" style="border-top:1px solid #ffffff"></div>
                    <br>
                    </div>
                    <div class="card-footer">                    
                        <a class="btn btn-outline-warning nav-link text-uppercase" href="https://discord.com/oauth2/authorize?client_id=804783079993901067&permissions=8&scope=bot"><i class="fas fa-robot"></i><b>   Botu Ekle</b></a>
                    </div>
                  </div>
      </div> 

                      
                              
                                                    
      </div>      
    </div>
    </div12>  
  
  
        <div class="col-md-4">
                  <div class="ASD">                                    
                      <img class="card-img-top" style="height: 200px;" src="https://cdn.discordapp.com/attachments/793113952388251677/793437182919704576/unknown.png" alt="Banner">                                                  
                      <img class="certificate-role" src="/css/certificate.png" alt="">          
                    <div class="card-body">
                      <div class="avatarmargin">
                      <img style="width: 80px;" class=" certificate-botimg " src="https://cdn.discordapp.com/avatars/782994076005171210/00b26ea488c06e4384dd76c55ffed423.webp" alt="YılmazBOT">
                      </div>
                      
                  serius+BOT    
                      
                      <div class="bg-primary px-2 w-auto d-inline-block" style="border-radius: 50px; width: 50px;">
                      <i class="fa fa-check"></i> BOT
                      </div>
                      <p> </p>
                        <p class="card-text">serius+BOT bir bottan daha fazlası</p>
                      <div class="dropdown-divider" style="border-top:1px solid #ffffff"></div>
                    <br>
                    </div>
                    <div class="card-footer">                    
                        <a class="btn btn-outline-warning nav-link text-uppercase" href="https://discord.com/oauth2/authorize?client_id=782994076005171210&permissions=8&scope=bot"><i class="fas fa-robot"></i><b>   Botu Ekle</b></a>
                    </div>
                  </div>
      </div> 

                      
                              
                                                    
      </div>      
    </div>
    </div12>  
  
  
  
//--------------//
 <div class="col-md-4">
                  <div class="ASD">                                    
                      <img class="card-img-top" style="height: 200px;" src="https://cdn.discordapp.com/attachments/793113952388251677/793437182919704576/unknown.png" alt="Banner">                                                  
                      <img class="certificate-role" src="/css/certificate.png" alt="">          
                    <div class="card-body">
                      <div class="avatarmargin">
                      <img style="width: 80px;" class=" certificate-botimg " src="https://cdn.discordapp.com/avatars/782994076005171210/00b26ea488c06e4384dd76c55ffed423.webp" alt="YılmazBOT">
                      </div>
                      
                  Burası boştur ilan vermek için discord sunucumuzdan yetkililere yazınız ...    
                      
                      <div class="bg-primary px-2 w-auto d-inline-block" style="border-radius: 50px; width: 50px;">
                      <i class="fa fa-check"></i> BOT
                      </div>
                      <p> </p>
                        <p class="card-text">serius+BOT bir bottan daha fazlası</p>
                      <div class="dropdown-divider" style="border-top:1px solid #ffffff"></div>
                    <br>
                    </div>
                    <div class="card-footer">                    
                        <a class="btn btn-outline-warning nav-link text-uppercase" href="https://discord.com/oauth2/authorize?client_id=782994076005171210&permissions=8&scope=bot"><i class="fas fa-robot"></i><b>   Botu Ekle</b></a>
                    </div>
                  </div>
      </div> 

                      
                              
                                                    
      </div>      
    </div>
    </div12>  